@{
    ViewData["Title"] = "About Us Page";
}

<hmtl>
    <!-- <header class="text-center">
      <h1 class="display-4"> About Us  </h1> 


    </header> -->
    

    <body>

  
        <main>
            <div class="container py-4">
                <header class="pb-3 mb-4 border-bottom">
                    <h1 class="aboutH1">About KhumaloCraft</h1>
                 <!--    <a  class="d-flex align-items-center text-body-emphasis text-decoration-none">
                    
                      <h1 class="aboutH1">About KhumaloCraft</h1>
                    </a> -->
                    <link rel="stylesheet" href="AboutUs.css" type="text/css" />
                </header>


                <!--First information block here-->

                <div class="p-5 mb-4 bg-body-tertiary rounded-3">

                    <div class="info">
                        <h1 class="display-5 fw-bold">KhumaloCraft Overview</h1>
                        <p class="col-md-8 fs-4">
                            <h5>Founding Date:    </h5>
                            KhumaloCraft Emporium was founded in 2024 by James Khumalo, a visionary entrepreneur passionate about promoting South African artisan craftsmanship.
                        </p>
                        <p class="col-md-8 fs-4">
                            <h5> Location:  </h5>
                             Based in Durban, South Africa, KhumaloCraft Emporium operates as a global e-commerce platform, connecting artisans with customers.
                        </p>
                        <p class="col-md-8 fs-4">
                            <h5> Mission Statement: </h5>
                             Our mission at KhumaloCraft Emporium is to celebrate the artistry and skill of South African artisans worldwide by providing a platform where their handcrafted creations can be discovered, appreciated, and acquired by a global audience.
                        </p>


               <!--      <button class="btn btn-primary btn-lg" type="button">Example button</button> -->

                    </div>

                </div>


                <!--Second information block here-->

                <div class="row align-items-md-stretch">

                    <div class="col-md-6">

                        <div class="info2">
                            <h2>Founders Vision</h2>
                            <p>
                                <h5>James Khumalo's Vision: </h5>
                                Inspired by his travels and encounters with talented artisans, James Khumalo envisioned KhumaloCraft Emporium as more than just an e-commerce platform. It's a tribute to the creativity, tradition, and cultural heritage embodied in South African handcrafted products.
                            </p>
                            <p>
                                <h5> Promoting Artisan Craftsmanship: </h5>
                                James Khumalo's vision is rooted in a deep appreciation for South African artisan craftsmanship and a desire to empower artisans by providing them with a platform to showcase their skills and reach customers beyond their local markets.
                         
                            </p>
                            

                    <!--        <button class="btn btn-outline-light" type="button">Example button</button> -->
                        </div>

                    </div>


                 

                    <!--Third information block here-->
                    <div class="col-md-6">

                        <div class="info3">
                            <h2>Artisan Partherships</h2>
                            <p>
                                <h5>   Global Network of Artisans:  </h5>
                                KhumaloCraft Emporium collaborates with artisans from diverse cultural backgrounds in South Africa. From skilled weavers in rural villages to contemporary designers and painters in urban centers, our platform celebrates the rich culture of artisanal traditions and innovations.
                            </p>
                           <p>
                                <h5> Fair Trade Practices:  </h5>
                                 We are committed to fair trade principles, ensuring that artisans receive fair compensation for their labor and products and that their working conditions adhere to ethical standards. By supporting KhumaloCraft Emporium, customers contribute to the sustainability of artisan communities in South Africa.

                           </p>
                            <p>
                                <h5>  Handcrafted Product Range:    </h5>
                                Our curated selection includes a wide range of handcrafted products, including textiles, ceramics, jewelry, home decor, and more. Each item tells a story of tradition, craftsmanship, and cultural heritage, making it a meaningful addition to any home or wardrobe.

                            </p>
                            <a asp-area="" asp-controller="Products" asp-action="Index"> 
                            <button class="btn_btn-outline-secondary" type="button">View Artwork </button>
                            </a>
                        </div>

                    </div>


                </div>

             
            </div>
        </main>
        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>





    </body>

</hmtl>

<!-- All Images used for website have been taken from pexels.com https://www.pexels.com/-->