@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<hmtl>
    <header class="text-center">
 <!--        <h1 class="display-4"> Contact Us </h1> -->

        <link rel="stylesheet" href="ContactUs.css" type="text/css" />

    </header>


    <body>


        <div class="form">

            

            <!-- the avatar icon-->
            <div class="header-logo">
                <div class="happy-bunch-avatar">
                </div>
                <span class="send-us-a-message">
                    Send us a message!
                </span>
            </div>



            <div class="row">


                <!--Name input-->
            <div class="col"> 
            <div class="input-label">
                <div class="full-name">
                    Full Name
                </div>
                <input type="text" class="text-fields">
                    </div>

                    <!--Email input-->

                    <div class="input-Email">
                        <div class="email">
                            Email
                        </div>
                        <input type="text" class="text-fields-1">
                        </input>
                    </div>

                    <!-- user message here-->

                    <div class="input-label-2">
                        <div class="message">
                            Message
                        </div>
                        <textarea class="text-fields-3">
                </textarea>
                    </div>

            </div>

                <div class="col">
                    <h1 class="textStyle"> Our Contact info </h1>
                    <p class ="textStyle"> Contact Number: 035 481 9435  </p>
                    <p class ="textStyle"> Email: 035 481 9435  </p>
                    <p class="textStyle">
                        Postal Address: 456 Solo Avenue, 
                        Durban,
                        KwaZulu-Natal, 
                        5432,
                        South Africa
                    </p>
                </div>




            </div>

            <!--button confirm-->

            <div class="confirm">
                <button class="confirm-button">
                    <span class="send-message">
                        Send Message
                    </span>
                </button>
                
            </div>
            <span class="you-verify-that-this-info-is-correct">
                You verify that this info is correct
            </span>

        </div>




    </body>

</hmtl>
